/* Main HTML Styles */
/* Common Properties */
html, body, footer, header {
  background-color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 16px;
  overflow-x: hidden;
  color: #BFBFBF;
  -webkit-font-smoothing: antialiased;
}

/*Project Caption*/
#project-caption{
  position: absolute;
  height: 122px;
  max-width: 490px;
  left: 102px;
  top: 252px;
  font-size: 103px;
  color: #222222;
  font-weight: bold;
}

/*Project Subcaption*/
#project-subcaption{
  position: absolute;
  height: 19px;
  max-width: 255px;
  left: 87px;
  top: 233px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#project-description{
  position: absolute;
  height: 66px;
  max-width: 329px;
  left: 152px;
  top: 404px;
  font-size: 14px;
  font-weight: normal;
}

main img{
  position: absolute;
  height: 491px;
  max-width: 380px;
  left: 522px;
  top: 145px;
}

/* Navigation Style Control */
nav {
  background-color: black;
  height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transition: 0.5s;
  max-width: 100%;
  z-index: 1;
}

nav .nav-content {
  text-align: center;
}

nav .nav-content a {
  color: #000000;
  display: block;
  font-size: 36px;
  text-decoration: none;
}

/*Common elements can be optimized*/
#topmenubutton {
  background: none;
  border: 0;
  color: #222222;
  cursor: pointer;
  float: right;
  font-size: 40px;
  outline: 0;
  padding: 1%;
}

#designername {
  background: none;
  border: 0;
  color: #222222;
  cursor: default;
  float:left;
  outline: 0;
  padding: 1%;
}

#close-menu {
  background: none;
  border: 0;
  color: #BFBFBF;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 40px;
  outline: 0;
  padding: 1%;
}

#page1{
  display: block;
}
#page2{
  display: none;
}

body.open #close-menu {
  display: block;
}
