@import "https://fonts.googleapis.com/css?family=Roboto";
/** {
  box-sizing: border-box;
}*/

body {
  background-color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 16px;
  color: #BFBFBF;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

/*Project Caption*/
#project-caption{
  position: static;
  height: 122px;
  width: 490px;
  left: 102px;
  top: 252px;
  font-size: 103px;
  color: #222222;
  font-weight: bold;
}

/*Project Subcaption*/
#project-subcaption{
  position: static;
  height: 19px;
  width: 255px;
  left: 87px;
  top: 233px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#project-description{
  position: static;
  height: 66px;
  width: 329px;
  left: 152px;
  top: 404px;
  font-size: 14px;
  font-weight: normal;
}

main img{
  position: static;
  height: 491px;
  width: 380px;
  left: 522px;
  top: 145px;
}

header {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* Navigation Style Control */
nav {
  background-color: black;
  height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transition: 0.5s;
  width: 10%;
  z-index: 1;
}

nav .nav-content {
  text-align: center;
}

nav .nav-content a {
  color: #000000;
  display: block;
  font-size: 36px;
  text-decoration: none;
}

/*Common elements can be optimized*/
#topmenubutton {
  background: none;
  border: 0;
  color: #222222;
  cursor: pointer;
  float: right;
  font-size: 40px;
  outline: 0;
  padding: 1%;
}

#designername {
  background: none;
  border: 0;
  color: #222222;
  cursor: default;
  float:left;
  outline: 0;
  padding: 1%;
}

#close-menu {
  background: none;
  border: 0;
  color: #BFBFBF;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 40px;
  outline: 0;
  padding: 1%;
}

body.open #close-menu {
  display: block;
}

.section {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section .white {
  color: #fff;
}

.section:nth-child(1) {
  background-color: #D3D3D3;
  color: #000;
  top: 0;
  z-index: 1;
}
.section:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 200vh;
  z-index: 3;
}
.section:nth-child(3) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 300vh;
  z-index: 4;
}
.section:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 400vh;
  z-index: 5;
}
.section:nth-child(5) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 500vh;
  z-index: 6;
}
.section:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 600vh;
  z-index: 7;
}
.section:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(8) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #D3D3D3;
  color: #fff;
  top: 700vh;
  z-index: 8;
}
.section:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(9) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #000000;
  color: #fff;
  top: 800vh;
  z-index: 9;
}
.section:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(10) {
  background-color: #000;
  color: #fff;
  top: 900vh;
  z-index: 10;
}
.section:nth-child(10) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.oop {
  position: relative;
  z-index: auto;
  height: 10px;
  background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

/* Button Controls */
.outline-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
  background: none;
  padding: 2rem 6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: white;
}
.outline-button:hover .outline-button__line {
  -webkit-transform: none;
          transform: none;
}

.outline-button__lines {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.outline-button__line {
  background: white;
  position: absolute;
  transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.outline-button__line--horizontal {
  width: 100%;
  height: 2px;
  transition-delay: 0.2727272727s;
}
.outline-button__line--vertical {
  width: 2px;
  height: 100%;
  transition-delay: none;
}
.outline-button__line--top {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}
.outline-button__line--right {
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.outline-button__line--bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.outline-button__line--left {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
